@model Book

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.Name;
}

@section Styles{
    <link href="~/css/main.css" rel="stylesheet" />
}

@section Scripts {
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        userId ="@UserManager.GetUserId(User)";
        bookId =@Model.Id;
    </script>
    <script src="~/js/bundle.js"></script>
}

<div class="bookItemInfo row">
    <div class="article col-md-8">
        <h3 class="title">《@Model.Name》txt全集</h3>
        <div class="info-content">
            <div class="bookImage">
                <img class="cover" src="@(Model.CoverPath??"/images/pic01.jpg")">
            </div>
            <div class="info-list pl-3">
                <div>
                    <span>小说大小：</span>
                    <span>@Html.DisplayFileLength(Model.FileLength)</span>
                </div>
                <div>
                    <span>小说分类：</span>
                    <span>@Model.Category.Name</span>
                </div>
                <div>
                    <span>小说语言：</span>
                    <span>简体中文</span>
                </div>
                <div>
                    <span>更新时间：</span>
                    <span>@Model.UploadTime</span>
                </div>
                <div>
                    <span>是否全集：</span>
                    <span>全集</span>
                </div>
                <div>
                    <span>书籍作者：</span>
                    <span><a asp-action="AuthorIndex" asp-route-authorName="@Model.Writer.Name">@Model.Writer.Name</a></span>
                </div>
                <div>
                    <span>下载数量：</span>
                    <span>@Model.DownloadTime</span>
                </div>
            </div>
        </div>
        <div class="content-off">
        </div>
        <div class="content">
            @Html.Raw(Model.Description)
        </div>
        <div class="content-off">
        </div>
        <div>
            <ul class="download-url-list none-style-ul">
                <li>
                    <a asp-action="Down" asp-route-id="@Model.Id">电信高速下载</a>
                </li>
                <li>
                    <a asp-action="Down" asp-route-id="@Model.Id">联通高速下载</a>
                </li>
                <li>
                    <a asp-action="Down" asp-route-id="@Model.Id">本地高速下载</a>
                </li>
                <li>
                    <a asp-action="Down" asp-route-id="@Model.Id">本地高速下载2</a>
                </li>
            </ul>
        </div>
        <div class="content-off">
        </div>
        <div id="commentArea">

        </div>
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("Rank", new { categoryId = Model.Category.Id })
    </div>
</div>
