@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="book-area row">
    <div class="col-md-4 pr-md-0">
        <dl class="box1">
            <dt>
                <strong>最新男频小说</strong>
            </dt>
            <dd>
                <ul>
                    @foreach (var item in Model.BoyBooks)
                    {
                        <li>
                            <span class="date">@Html.DisplayShortDate(item.UploadTime)</span>
                            <a asp-action="CategoryIndex" asp-controller="Book" asp-route-id="@item.CategoryId">[@item.Category.Name]</a>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </dd>
        </dl>

    </div>
    <div class="col-md-4 pr-md-0">
        <dl class="box1">
            <dt>
                <strong>最新女频小说</strong>
            </dt>
            <dd>
                <ul>
                    @foreach (var item in Model.GirlBooks)
                    {
                        <li>
                            <span class="date">@Html.DisplayShortDate(item.UploadTime)</span>
                            <a asp-action="CategoryIndex" asp-controller="Book" asp-route-id="@item.CategoryId">[@item.Category.Name]</a>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="box1">
            <dt>
                <strong>下载排行</strong>
            </dt>
            <dd>
                <ul>
                    @foreach (var item in Model.TopDownloadBooks)
                    {
                        <li>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </dd>
        </dl>
    </div>
</div>
