@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="book-area row">
    <div class="col-md-4">
        <div class="box">
            <div class="box-header">
                <strong>最新男频小说</strong>
            </div>
            <div class="box-block">
                <ul class="none-style-ul">
                    @foreach (var item in Model.BoyBooks)
                    {
                        <li>
                            <span class="date">@Html.DisplayShortDate(item.UploadTime)</span>
                            <a asp-action="CategoryIndex" asp-controller="Book" asp-route-id="@item.CategoryId">[@item.Category.Name]</a>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 pl-0">
        <div class="box">
            <div class="box-header">
                <strong>最新女频小说</strong>
            </div>
            <div class="box-block">
                <ul class="none-style-ul">
                    @foreach (var item in Model.GirlBooks)
                    {
                        <li>
                            <span class="date">@Html.DisplayShortDate(item.UploadTime)</span>
                            <a asp-action="CategoryIndex" asp-controller="Book" asp-route-id="@item.CategoryId">[@item.Category.Name]</a>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 pl-0">
        <div class="box">
            <div class="box-header">
                <strong>下载排行</strong>
            </div>
            <div class="box-block">
                <ul class="none-style-ul">
                    @foreach (var item in Model.TopDownloadBooks)
                    {
                        <li>
                            <span class="date">@Html.DisplayShortDate(item.UploadTime)</span>
                            <a asp-action="CategoryIndex" asp-controller="Book" asp-route-id="@item.CategoryId">[@item.Category.Name]</a>
                            <a asp-action="Item" asp-controller="Book" asp-route-id="@item.Id">《@item.Name》txt全集</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
