@model RoleIndexViewModel

@{ 
    ViewBag.Title = "Index";
}

<h2>Authors</h2>

<p>
    当前用户角色为：@foreach (var item in Model.UserRoles)
    {
        @item
    }
</p>
<p>
    <a asp-action="Create">添加</a>
</p>
<div>
    @*<form asp-action="Index" method="get" class="col-sm-8">
        <div class="input-group">
            <input type="text" name="authorName" class="form-control" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info">查找</button>
            </div>
        </div>
    </form>*@
    <table class="table-responsive table">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    RoleName
                </th>
                <th>
                    NormalizedName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
